h1 {
  color: #29A0B1;
  font-size: 48px;
}

h3 {
  color: #B3BB50;
  font-size: 32px;
  font-weight: 200;
}

p {
  color: #231E1E;
  font-size: 24px;
}

body {
  margin: 0;
}

.box {
  background-color: #FCFBF3;
  width: 100vw;
  height: 80;
}


